<h2>Calling Web Services from Web API</h2>

<div>
  <input type="button" class="btn-toolbar" id="cmdGetCustomers" value="Get Customers" />
  <input type="button" class="btn-toolbar" id="cmdGetCustomer" value="Get Customer" />
  <input type="button" class="btn-toolbar" id="cmdPostCustomer" value="Post Customer" />
</div>

<hr/>

<div id="content_box" />
