

body {
  margin: 0;
  background-color: #fbfb92;
  border: 1px solid #AAA;
  padding: 8px;
}

#customersTable {
  border-collapse: collapse;
  font-size: 18px;
}

  #customersTable thead tr td {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 4px;
    min-width: 120px;
  }


  #customersTable tr td {
    border: 1px solid black;
    padding: 4px;
    background-color: white;
  }
