#toolbar{
    background-color: #DDD;
    padding: 8px;
    border: 1px solid #AAA;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#toolbar input {
    border-radius: 4px;
}

#content_box{
    background-color: #FFC;
    border: 1px solid #AAA;    
    padding: 12px;    
    min-height: 240px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}